@import url("https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap");

body {
  background-image: url("https://img.freepik.com/free-photo/artistic-blurry-colorful-wallpaper-background_58702-8662.jpg");
  text-align: center;
  margin: auto;
  font-family: "Poetsen One", serif;
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
}

h1 {
  font-size: 30px;
  color: white;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}
